#video{
	width: 1210px;
	height: 350px;
	/*background: red;*/
}
#video_top{
	width: 100%;
	height: 45px;
	overflow: hidden;
}
#video_top div:nth-child(1){
	font-size: 25px;
	margin-top:10px;
	margin-bottom:20px;
	font-weight: 100;
	color:#666;
	float: left;
}
#video_top div:nth-child(2){
	position: relative;
	top: 10px;
	right: 30px;
	float: right;
	transition: all 0.5s;
	cursor: pointer;
}
#video_top div:nth-child(2) span{
	font-family: "icomoon";
	position: absolute;
	left: 70px;
	top: 2px;
	color:#fff;
	border :1px solid #ccc;
	border-radius: 50%;
	background: #ccc;
	transition: all 0.5s;
}
#video_top div:nth-child(2):hover{
	color: #ff6700;
}
#video_top div:nth-child(2):hover .video_span_1{
	background: #ff6700;
	border-color:  #ff6700;
}
#video_body{
	width: 1210px;
	height: 317px;
	display: flex;
	align-content: space-between;
	
}
.video_video:hover{
	transform: translateY(-3px);
	box-shadow: 0px 3px 20px #ccc;
}
.video_video_top_div{
	transition: all 0.5s;
}
 .video_video_top:hover .video_video_top_div{
	background:  #ff6700;
	border-color:  #ff6700;
 }
#video_body>div{
	margin: 0 10px;
	flex: 1;
	display: flex;
	flex-direction:column;
	cursor: pointer;
	transition: all 0.5s;
}
.video_video_top_1,.video_video_top_2,.video_video_top_3,.video_video_top_4{
	flex: 7;
	background: url(../img/video1.jpg) no-repeat;
	background-size:100% 100%;
	position: relative;
}
.video_video_top_div{
	font-family: "icomoon";
	width: 32px;
	height: 20px;
	border:1px solid #fff;
	color: #fff;
	border-radius: 30px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 170px;
	left: 18px;
}
.video_video_bottom_1{
	flex: 4;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	font-weight: 100;
	background:#fff;
}
.video_video_top_2{
	background: url(../img/video2.jpg) no-repeat;
	background-size:100% 100%;
}
.video_video_bottom_2{
	flex: 4;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	font-weight: 100;
	background:#fff;
}
.video_video_top_3{
	background: url(../img/video3.jpg) no-repeat;
	background-size:100% 100%;
}
.video_video_bottom_3{
	flex: 4;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	font-weight: 100;
	background:#fff;
}
.video_video_top_4{
	background: url(../img/video4.jpg) no-repeat;
	background-size:100% 100%;
}
.video_video_bottom_4{
	flex: 4;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	font-weight: 100;
	background:#fff;
}
.video_bg{
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.video_bg_1{
	width: 60%;
	background-color: #eee;
	height: 50px;
}
.video_bg_1_l{
	float: left;
	line-height: 50px;
	margin-left: 30px;
}
.video_bg_1_r{
	font-family: "icomoon";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	cursor: pointer;
}
.video_bg_1_r:hover{
	background: red;
}
.video_bg video{
	width: 60%;
}